.kali--emblem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #0a7ce6;
  border-radius: 5px;
  padding: 1px;
  filter: drop-shadow(0 0 2px #ffffff);
  transform: scale(0.8);
}

.kali--emblem img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  aspect-ratio: 1/1; /* Hacer que la imagen sea cuadrada */
  filter: drop-shadow(0 0 2px #ffffff);
  transform: scale(1.5);
}
