/* Iconos individuales */
@import url(./browserEmblem.css);
@import url(./clockTaskbar.css);
@import url(./desktopEmblem.css);
@import url(./folderEmblem.css);
@import url(./kaliEmblem.css);
@import url(./statSymbol.css);
@import url(./txtEditorEmblem.css);
@import url(./windowsViews.css);
@import url(./shellEmblem.css);

.navbar__link {
  height: 32px;
  width: 32px;
}

/* Efecto hover de crecimiento */
.navbar__link:hover {
  transform: scale(1.1);
  /* filter: drop-shadow(0 0 3px var(--accent-tertiary-color)); */
}
