.actions__app {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.3rem;
  background-color: var(--border-main-color);
  gap: 0.5rem;
}

.actions__app span {
  color: var(--text-color);
  font-size: calc(var(--font-size-min) - 3px);
  cursor: pointer;
}

.actions__app span:hover {
  color: var(--accent-tertiary-color);
}
