<article class="window"><!-- Esto no estara aqui estaticamente, solo  es la prueba del diseño de las ventanas -->
    <div class="title__app">
        <span><i class="fa fa-square"></i></span>
        <span>View App</span>
        <div class="window__buttons">
            <span class="minimize--app"><i class="fas fa-minus"></i></span>
            <span class="maximize--app"><i class="far fa-square"></i></span>
            <span class="close--app"><i class="fas fa-times"></i></span>                        
        </div>    
    </div>

    <div class="actions__app">
        <span>File</span>
        <span>Actions</span>
        <span>Edit</span>
        <span>View</span>
        <span>Help</span>                    
    </div>

    <div class="app__container">
        this is the app container
    </div>
</article>